:root {
  --textcolor: #fff;
  --travel: #333;
  --link-color: #8d4fdb;
  --travel-mini: #a9afb3;
  --footer-text: #8b8b8b;
  --featured-travel-color: #000;
  --main: #e5c298;
--wt-bg:#F1F1F1 ;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  outline: blueviolet solid;
}
.body {
  background-color: var(--main);
  font-family: lato;
}
.header {
  padding-top: 60px;
  padding-bottom: 74px;
}
.header-item {
  color: var(--textcolor);
  font-size: 11px;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 1.3px;
}
.travel {
  padding-bottom: 35px;
}
.post-name {
  color: var(--textcolor);
  font-size: 8px;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1px;
}
.name {
  color: var(--textcolor);
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 19px;
}
.travel-date {
  color: var(--textcolor);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.description {
  color: var(--textcolor);
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 35px;
}
.travel-description {
  color: var(--travel);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.read{
  background-color: var(--wt-bg);
  padding-top: 49px;
  padding-bottom: 159px;
}
.want-read {
  color: var(--travel);
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 36px;
}
.wba {
  color: var(--textcolor);
  background-color: var(--link-color);
  font-size: 10px;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}
.Featured {
  padding-top: 85px;
  padding-bottom: 90px;
}
.Featured-title {
  color: var(--travel);
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 40px;
}
.Featured-description {
  color: var(--travel-mini);
  font-size: 23px;
  font-weight: 400;
  line-height: 33px;
}
.mini-name {
  color: var(--textcolor);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.mini-date {
  color: var(--textcolor);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.travel-mini {
  color: var(--featured-travel-color);
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 28px;
}
.wt-list {
  background-color: var();
}
.Want {
  color: var(--travel);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.want-tl {
  color: var(--link-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.footer {
  background-color: var(--featured-travel-color);
  padding-top: 55px;
  padding-bottom: 45px;
}

.footer-owner {
  color: var(--footer-text);
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}
.footer-link {
  color: var(--link-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
